<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "com.maleo.instagram"
        version     = "0.0.1"
        height      = "700"
        width       = "500">
 
  <name short="Instagram">
    Instagram
  </name>

  <description>
	Instagram Running From Maleo
  </description>

  <author href="http://instagram.com">Instagram</author>

  <icon src="instagram.svg"/>
  <content src="index.html"/>

  <license>
    (c) 2015, Instagram
  </license>
</widget>
