<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "com.maleo.twitter"
        version     = "0.0.1"
        height      = "700"
        width       = "500">
 
  <name short="Twitter">
    Twitter
  </name>

  <description>
	Twitter Running From Maleo
  </description>

  <author href="http://twitter.com">Twitter</author>

  <content src="index.html"/>

  <license>
    (c) 2015, Twitter
  </license>
</widget>
