<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "http://instagram.com/"
        version     = "url"
        height      = "700"
        width       = "500">
 
  <name short="Instagram">
    Instagram
  </name>

  <description>
  </description>

  <author href="http://instagram.com">Instagram</author>

  <icon src="/home/cho2/komodo-for-android/source/instagram.svg"/>
  <content src="index.html"/>

  <license>
    (c) 2014, Instagram
  </license>
</widget>
